<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <connectionStrings>
    <add name="DBCONN_Grocery" connectionString="server=localhost;database=smartgrocery;uid=root;password=root;"/>
  </connectionStrings>

  <appSettings>
    <add key="alertTime" value="3000"/>
    <add key="refNumber" value=""/>
    <add key="BackupPath" value="D:\\JSG_Backup\\Jerico Smart Grocery_DB_"/>
    <add key="BackupPath_External" value="G:\\JSG_Backup\\Jerico Smart Grocery_DB_"/>
    
    <add key="MinStockRange" value="5"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>D:\Development\Desktop Apps\JericoSmartGrocery\JericoSmartGrocery\App.config
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.17.0" newVersion="8.0.17.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
